#Aboutpage-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #1e252d;
    font-weight: 300;    
    line-height: 2.375;
}

#aboutpage-container {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#aboutpage-container > * {
    padding: 0rem 4rem 0rem 4rem ;
    border-top: solid 2px #eeeeee;
    margin: 0;
}
#aboutpage-container > .post {
    padding: 0rem 8rem 6rem 8rem ;
}
.about-page-content h1{
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    
}




    
