/* City Show Page */

.cityshow-body {
    margin: -10px;
    background-image: url('../images/alex-azabache-GnqpSlWOO0A-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cityshow-content {
    background: #ffffff80;
    width: calc(100% - 4rem);
    max-width: 72rem;
    height: auto;
    margin: 0 auto;
    /* padding: 10px; */
    min-height:100vh;
    overflow: hidden;
    border-top: solid 2px #dbd6d6;
    
}

.cityshow-title {
    font-size: 2.5rem;
    color: #A64F1C;
}

.cityshow-image {
    /* width: 75%; */
}

.cityshow-hr {
    border: 2px solid #0C172690;
    width: 95%;
}


/* Create Post Form */
.createpost-title, 
.createpost-textinput {
    border: none;
    outline: none;
    padding: 10px;
    width: 75%;
    background: #BF925A90;
    border-radius: 5px;
}

::placeholder {
    color: #0C1726;
    font-size: 1rem;
    font-family: sans-serif;
}


.createpost-title:hover, 
.createpost-textinput:hover {
    background: #BF925A;
}

.createpost-btn {
    width: 20%;
    color: #0C1726;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background: none;
}


/* SinglePost */
li {
    list-style: none;
}

.singlepost-content {
    font-size: 1.4rem;
}

.singlepost-button {
    font-size: 16px;
    padding: 12px;
    text-decoration: underline;
    color: #A64F1C;
    font-weight: bold;
}

.singlepost-button:hover {
    color: white;
}


/* Post */
.section-caption {
    font-size: 2rem;
    color:  #A64F1C;;
}

.post-title {
    font-size: 1.6rem;
}

.post-title:hover {
    color: #0D0D0D;
}

a {
    text-decoration: none;
    color: #0C1726;
}

a:visited {
    color:Black;
}


/* Edit Form */
.editpost-title,
.editpost-textinput {
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 75%;
    background: #BF925A90;
    border-radius: 5px;
}

.editpost-title:hover, 
.editpost-textinput:hover {
    background: #BF925A;
}

.createedit-btn {
    width: 20%;
    color: #A64F1C;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background: none;
}