.title-wrapper{
    background-color:#1e252d;
    width:100%;
    
    margin: 0px;
}
.title-container{
    width: calc(100% - 4rem);
    max-width: 72rem;
    padding: 0px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem 0 1rem 0;
    border-top: solid 2px #eeeeee;
}
.title-text{
    font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px;
}